In [55]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [59]:
#DISTRICT SUMMARY

#Calculate the total number of schools
total_schools = len(school_data_complete["school_name"].unique())

#Calculate the total number of students
total_students = (school_data_complete["student_name"].count())

#Calculate the total budget
total_budget = sum(school_data_complete["budget"].unique())

#Calculate the average math score
average_math = school_data_complete["math_score"].mean()

#Calculate the average reading score
average_reading = school_data_complete["reading_score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = (school_data_complete[school_data_complete["math_score"]>=70]["student_name"].count()/total_students)*100

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = (school_data_complete[school_data_complete["reading_score"]>=70]["student_name"].count()/total_students)*100

#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing = (passing_math + passing_reading)/2

In [74]:
#Create a dataframe to hold the above results
district_summary = pd.DataFrame({"Total Schools": [total_schools],
                                 "Total Students": [total_students],
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [average_math],
                                 "Average Reading Score": [average_reading],
                                 "% Passing Math": [passing_math],
                                 "% Passing Reading": [passing_reading],
                                 "% Overall Passing Score": [overall_passing]})

#clean data
district_summary["Total Students"] = district_summary["Total Students"].map("{:,.0f}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.2f}%".format)
district_summary["% Overall Passing Score"] = district_summary["% Overall Passing Score"].map("{:.2f}%".format)

#display DISTRICT SUMMARY data frame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Score
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,80.39%

In [ ]:
#SCHOOL SUMMARY